@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
  --et-primary-color: #cd4b27;
  --et-secondary-color: #4e647f;
}

#wcbe-app {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  height: 88vh;
  padding-right: 1.5em;
  padding-top: 1.5em;
}

.edgeTag-container {
  height: 100%;
  overflow-y: auto;
  padding-right: 2em;
  padding-top: 2em;
}

#wcbe-app h1,
h2,
h3 {
  margin-top: 0;
}

#wcbe-app h2 {
  font-size: 24px;
}

#wcbe-app h3.flex {
  gap: 0.75em;
}

#wcbe-app input[type='text'] {
  border: 1px solid #dbe2eb;
  border-radius: 5px;
  background: #fff;
  width: 100%;
  padding: 5px 12px;
  box-shadow: none !important;
}

#wcbe-app textarea {
  border: 1px solid #dbe2eb;
  border-radius: 5px;
  background: #fff;
  width: 100%;
  padding: 5px 12px;
  box-shadow: none !important;
}

#wcbe-app textarea.code {
  font-family: monospace;
  font-size: 0.9em;
}

#wcbe-app .btn {
  background-color: var(--et-primary-color);
  border: 1px solid var(--et-primary-color);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  box-shadow: none !important;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
}

#wcbe-app .btn.loading {
  opacity: 1 !important;
  position: relative;
  color: rgba(255, 255, 255, 0.05) !important;
  pointer-events: none !important;
}

#wcbe-app .btn.loading:after {
  -webkit-animation: spin 750ms infinite linear;
  animation: spin 750ms infinite linear;
  border: 2px solid #fff;
  border-radius: 32px;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  content: '';
  display: block;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.input-label {
  font-weight: bold;
  color: var(--et-secondary-color);
  margin-bottom: 0.5em;
}

.input-description {
  font-weight: 400;
  color: var(--et-secondary-color);
  opacity: 0.8;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.input-checkbox {
  font-weight: 400;
  color: var(--et-secondary-color);
  margin-bottom: 2em;
}

#wcbe-app .btn:hover {
  background-color: #fff;
  color: var(--et-primary-color);
}

#wcbe-app .hidden {
  display: none;
}

#wcbe-app .notice {
  margin-left: 0;
}

#wcbe-app .overlay {
  min-height: 350px;
}

.loaderWrapper {
  min-height: 350px;
}

.relative {
  position: relative;
}

.loaderSpinner {
  border: 5px solid #f5f5f5;
  border-radius: 50%;
  border-top: 5px solid var(--et-primary-color);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -2rem;
}

.title-light {
  font-weight: 400;
}

.clickable {
  cursor: pointer;
}

.text-primary {
  color: var(--et-primary-color);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/** FIRST PAGE */
#wcbe-app .logo {
  margin-bottom: 3em;
}

.first-page,
.onboarding-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.first-page-content {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onboarding-page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-page .title {
  margin-bottom: 5em;
}

.first-page-content .boxes {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.shadow-box {
  background-color: #fff3e6;
  border: 1px solid #ffdfbf;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: 0.15s all ease-in-out;
}

.shadow-box:hover {
  box-shadow: none;
  color: var(--et-primary-color);
}

.shadow-box > div > img {
  margin-bottom: 1em;
}

/** BOTTOM LOGO */
.bottom-logo {
  text-align: right;
}

.bottom-logo > img {
  filter: grayscale(1);
  opacity: 0.1;
}
